<p id="notice"><%= notice %></p>

  <p>
    <strong>Libelle:</strong>
    <%= @marque.libelle %>
  </p>

  <p>
      <strong>Modèle :</strong>
      <% @marque.voitures.each do |voiture| %>
        <%= link_to voiture.modele, voiture %> 
      <% end %>
  </p>

  

<%= link_to 'Edit', edit_marque_path(@marque) %> |
<%= link_to 'Back', marques_path %>
